:host {
  .header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
      margin-left: 5px;
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }

  .sidebar {
    width: 280px;
    height: calc(100vh - 8.7vh);
    box-shadow: 3px 10px 30px 10px rgba(0, 0, 0, 0.1);

    .new-meal {
      padding: 1rem 0.7rem;
      margin-top: 0.8rem;
      border-radius: 4px;
      cursor: pointer;
      border-bottom: 2px solid rgba(54, 119, 240, 0.795);
      display: flex;
      align-items: center;

      .item {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
      }

      .dyna {
        font-size: 27px;
        font-family: 'DynaPuff';
        font-weight: 500;
      }
    }

    .new-meal:hover {
      background-color: rgba(54, 119, 240, 0.795);
      color: white;
    }

// orig
    .meal-block {
      padding: 1rem 0.7rem;
      margin-top: 0.8rem;
      border-radius: 4px;
      cursor: pointer;
      border-bottom: 2px solid rgba(54, 119, 240, 0.795);

      .item {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
      }

      .pi-trash {
        color: red;
      }

      .pi-pencil {
        color: blue;
      }

      .dyna {
        font-size: 25px;
        font-family: 'DynaPuff';
        font-weight: 500;
      }
    }

    .meal-block:hover {
      background-color: rgba(54, 119, 240, 0.795);
      color: white;
    }

    .activation {
      border-radius: 4px;
      color: rgb(255, 255, 255);
      background-color: rgba(54, 119, 240, 0.795);
    }
  }
}
